/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

@import url("owl.carousel.css");
@import url("foundation.css");
@import url("../fonts/Multicolor/font.css");

html {
  width: 100%;
  height: 100%;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

header{
  background: url(../img/svg/header-bg.svg);
  background-size: 100% 100%;
  background-position: bottom center;
  background-repeat: repeat-x;
  width: 100%;
  height: 250px;
  position: absolute;
  z-index: 100;
}

nav{
  float: right;
  margin: 35px 40px;
}

nav *{
  color: #666;
}

nav a:hover, nav a:focus{
  color: #a8518a;
}

nav .nav-contact-item{
  font-size: 16.5px;
}

nav .nav-contact-divider{
  margin: -7.5px 10px;
  border-left: 1px solid #666;
  height: 30px;
  display: inline-block;
}

footer{
  padding: 30px 120px;
  background-color: #e6e6e6;
  width: 100%;
  float: left;
}

footer ul, footer li, .listado, .listado li{
  display: inline-block;
}

footer li {
  padding: 15px;
}

footer li a img{
  height: 50px;
}

.listado li{
  padding-right: 10px;
}

.listado li a img{
  height: 40px;
}

h1{
  font-family: Multicolore;
  font-size: 24px;
}

h2{
  font-family: "Ek Mukta";
  font-size: 30px;
}

h3{
  font-family: "Ek Mukta";
  font-size: 28px;
}

p, a{
  font-family: "Ek Mukta";
  font-size: 20px;
  margin: 0;
}

.page-wrapper{
  padding-top: 130px;
}

#headerCarousel{
  background: transparent;
  margin-bottom: -5px;
  height: auto;
}

.seccion{
  height: 60vh;
}

.seccion.responsive{
  height: 29.3vw;
}

.logo{
  margin: 35px;
}

.sub-1{
  background: url(../img/sub-1.jpg) no-repeat;
  background-size: 100%;
  color: white;
}

.sub-1 .v-center-container{
  height: 29.3vw;
}

.sub-2 {
    background: url(../img/camara-1.jpg) no-repeat;
    background-size: 25%;
    background-position: 80% 33%;
}

.sub-3{
    background: url(../img/laptop-1.jpg) no-repeat;
    background-size: 35%;
    background-position: 86% 44%;
}

.header-portafolio-bg{
    background: url(../img/portafolio-header-bg.jpg) no-repeat #E7E7E7;
    background-size: 100%;
}

.wood{
    background: url(../img/wood-bg.jpg) no-repeat #E7E7E7;
    background-size: 100%;
}

.wood-iphone{
    background: url(../img/wood-iphone-bg.jpg) no-repeat #E7E7E7;
    background-size: 100%;
    height: 85vh;
}

.wood-iphone-contact{
    background: url(../img/wood-iphone-bg-2.jpg) no-repeat #E7E7E7;
    background-size: 100% auto;
    background-position: 0 45%;
    height: 140vh !important;
}

.wood-iphone.responsive{
  height: 41.5vw;
}

.youtube-vid{
  height: 100%;
}

.full-height-parent{
  height: 100%;
}

.full-height{
  min-height: 100vh;
}

.v-center-container{
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.v-center{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.nopad{
  padding: 0;
}

.nopad-left{
  padding-left: 0;
}

.nopad-top{
  padding-top: 0;
}

.nopad-right{
  padding-right: 0;
}

.nopad-bottom{
  padding-bottom: 0;
}

.nomargin{
  margin: 0;
}

.nomargin-left{
  margin-left: 0;
}

.nomargin-top{
  margin-top: 0;
}

.nomargin-right{
  margin-right: 0;
}

.nomargin-bottom{
  margin-bottom: 0;
}

.pad-50{
  padding: 50px;
}

.pad-100{
  padding: 100px;
}

.diagonal{
  margin-top: -8%;
}

.diagonales img + p{
  position: absolute;
  margin: -4% 0 -0 20px;
  letter-spacing: 2px;
  max-width: 100px;
  line-height: 20px;
}

.diagonales img.diagonal + p.upper{
  position: absolute;
  margin: -5% 0 -0 20px;
  letter-spacing: 2px;
}

.black-overlay{
  background: rgba(0, 0, 0, 0.16);
  width: 100%;
  position: absolute;
}

.text-gray{
  color:  #666;
}

.text-white{
  color: white;
}

.bg-gray{
  background-color:  #E7E7E7;
}

.flex-center{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

















/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
    http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
  * Don't show links that are fragment identifiers,
  * or use the `javascript:` pseudo protocol
  */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
  * Printing Tables:
  * http://css-discuss.incutio.com/wiki/Printing_Tables
  */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
