<footer>
  <div class="columns medium-6 small-12 nopad-left">
    <ul class="nomargin">
      <li><a href="https://www.youtube.com/channel/UC-bL2e0V5DTFVbD5tMvLDug"><img src="img/svg/youtube-icon.svg"/></a></li>
      <li><a href="https://www.instagram.com/kampaivideoyfoto/"><img src="img/svg/instagram-icon.svg"/></a></li>
      <li><a href="https://www.facebook.com/kampaivideoyfoto/"><img src="img/svg/facebook-icon.svg"/></a></li>
      <li><a href="https://vimeo.com/kampaivideoyfoto"><img src="img/svg/vimeo-icon.svg"/></a></li>
    </ul>
  </div>
  <div class="columns medium-6 small-12 text-gray">
    <p>Correo:
      <a class="nav-contact-item" itemprop="email" id="nav-email" href="mailto:kampaivideoyfoto@gmail.com?Subject=Hola%20Kampai!">
        <i aria-hidden="true" class="icn--email"></i>
        kampaivideoyfoto@gmail.com
      </a>
    </p>
    <p>Teléfonos:
    <a class="nav-contact-item" itemprop="telephone" href="tel:+584120934192">
      <i aria-hidden="true" class="icn--phone"></i>
      0412-0934192
    </a>
     y
     <a class="nav-contact-item" itemprop="telephone" href="tel:+582959885852">
       <i aria-hidden="true" class="icn--phone"></i>
       0295-9885852
     </a>
     </p>
  </div>
  <div class="columns small-12 text-center madeby">
    <a href="http://www.corsarioestudio.com">
      <img src="img/svg/madebycorsario.svg" alt="Hecho por Corsario Estudio" />
    </a>
  </div>
</footer>
