<footer>
  <div class="columns small-6 nopad-left">
    <ul class="nomargin">
      <li><a href="#"><img src="img/svg/youtube-icon.svg"/></a></li>
      <li><a href="#"><img src="img/svg/instagram-icon.svg"/></a></li>
      <li><a href="#"><img src="img/svg/facebook-icon.svg"/></a></li>
      <li><a href="#"><img src="img/svg/vimeo-icon.svg"/></a></li>
    </ul>
  </div>
  <div class="columns small-6 text-gray">
    <p>Correo: Kampaivideoyfoto@gmail.com</p>
    <p>Teléfonos: 0412-0934192 y 0295-9885852</p>
  </div>
</footer>
