<footer>
  <div class="columns medium-6 small-12 nopad-left">
    <ul class="nomargin">
      <li><a href="https://www.youtube.com/channel/UC-bL2e0V5DTFVbD5tMvLDug"><img src="img/svg/youtube-icon.svg"/></a></li>
      <li><a href="https://www.instagram.com/kampaivideoyfoto/"><img src="img/svg/instagram-icon.svg"/></a></li>
      <li><a href="https://www.facebook.com/kampaivideoyfoto/"><img src="img/svg/facebook-icon.svg"/></a></li>
      <li><a href="https://vimeo.com/kampaivideoyfoto"><img src="img/svg/vimeo-icon.svg"/></a></li>
    </ul>
  </div>
  <div class="columns medium-6 small-12 text-gray">
    <p>Correo: Kampaivideoyfoto@gmail.com</p>
    <p>Teléfonos: 0412-0934192 y 0295-9885852</p>
  </div>
</footer>
