<header>
  <img  src="img/svg/logo.svg" class="logo"/>

  <nav>
    <a class="nav-contact-item" itemprop="email" id="nav-email" href="mailto:kampaivideoyfoto@gmail.com?Subject=Hola%20Kampai!">
      <i aria-hidden="true" class="icn--email"></i>
      kampaivideoyfoto@gmail.com
    </a>
    &nbsp; &nbsp;
    <a class="nav-contact-item" itemprop="telephone" href="tel:+584120934192">
      <i aria-hidden="true" class="icn--phone"></i>
      0412-0934192
    </a>
    &nbsp;
    <span>|</span>
    &nbsp;
    <a class="nav-contact-item" itemprop="telephone" href="tel:+582959885852">
      <i aria-hidden="true" class="icn--phone"></i>
      0295-9885852
    </a>
    <br>
    <a href="./index.html">HOME</a>
    <span class="nav-contact-divider"></span>
    <a href="./paquetes.html">PAQUETES</a>
    <span class="nav-contact-divider"></span>
    <a href="./portafolio.html">PORTAFOLIO</a>
    <span class="nav-contact-divider"></span>
    <a href="./contactanos.html">CONTACTANOS</a>
  </nav>
</header>
